.task{
    border: rgb(255, 181, 243) solid;
    background-color: yellow;
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

}