h1 {
    color: rgb(230, 222, 222);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: teal;
    color: white;
    border: white solid;
    padding: 5px;
    margin: 5px;
}