.create-task{
    width: fit-content;
    border: black solid;
    padding: 5px;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-area{
    margin-bottom: 5px;
}

label{
    margin-right: 5px;
}